node_modules
dist
.env
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
.idea
data/
!src/data/
swag/
gcloud-storage-admin-key.json
games-activation.json
games_secretsLOCAL.json
uploadpuzzle/
temp-puzzle-repo/